!
!Version Halon 0.1.0 (Build: genericx86-p4-Halon-0.1.0-master-20170502040441-dev)
!Schema version 0.1.8
clock timezone utc
sflow
led locator on
!
!
!
!
!
!
!
aaa authentication login default local
aaa authorization commands default none
ssh server vrf vrf_mgmt
!
!
!
!
vlan 1
    no shutdown
interface 1/1/1 
    no shutdown
    ip address 21.3.4.5/24
